
<div class="card" *ngIf="shelter" >
  <div class="card-img">
      <img src="...">
  </div>
  <div class="card-block">
      <h4 class="card-title">Title</h4>
      <p class="card-text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, aut.
      Nihil nemo, necessitatibus earum.
      </p>
  </div>
  <ul class="list-group list-group-flush">
      <li class="list-group-item">Lorem ipsum dolor.</li>
      <li class="list-group-item">Lorem ipsum dolor sit.</li>
      <li class="list-group-item">Lorem ipsum.</li>
  </ul>
  <div class="card-footer">
      <a href="..." class="btn btn-sm btn-link">Action 1</a>
      <a href="..." class="btn btn-sm btn-link">Action 2</a>
  </div>
</div>


<h1 class="title">Shelter Details</h1>

<mat-card *ngIf="shelter" class="shelter-card" >
  <mat-card-title>{{shelter.name}}</mat-card-title>
  <mat-card-content>
    <h5>Phone: {{shelter.phone}}</h5>
    <h5>Email: {{shelter.email}}</h5>

    <h4><b>Address</b></h4>
    <h6>{{shelter.address1}}</h6>
    <h6>{{shelter.address2}}</h6>
    <h6>{{shelter.city}}, {{shelter.state}}</h6>

    <h4>Location: lat={{shelter.latitude}} lon={{shelter.longitude}}</h4>
  </mat-card-content>
  <mat-card-actions>
    <button *ngIf="!favourite" mat-button (click)="addToFavourites()">
      <mat-icon color="warn">favorite</mat-icon>
      <span>ADD TO FAVOURITES</span>
    </button>
    <button *ngIf="favourite" mat-button (click)="removeFromFavourites()">
      <mat-icon color="warn">favorite_border</mat-icon>
      <span>REMOVE FROM FAVOURITES</span>
    </button>
  </mat-card-actions>
</mat-card>

<div class="shelter" *ngIf="shelter">
  <h2 class="bar">Shelter Pets:</h2>
  <petbros-shelter-pets [shelterId]="shelter.id"></petbros-shelter-pets>
</div>