<mat-icon>home</mat-icon>
<mat-tab-group class="home-tab-group">
  <mat-tab label="Favourite Pets">
    <div class="pet-card-list">
      <petbros-pet
        *ngFor="let pet of favouritePets$ | async"
        [pet]="pet">
      </petbros-pet>
    </div>
  </mat-tab>
  
  <mat-tab label="Favourite Shelters">
    <div class="shelter-card-list">
      <petbros-shelter
        *ngFor="let shelter of user.favouriteShelters$ | async"
        [shelter]="shelter">
      </petbros-shelter>
    </div>
  </mat-tab>
</mat-tab-group>
  